.animated-header-container-day {
    width: 100%;
    height: auto;
    background: #6dbdd3 url('/assets/images/sky_day_small.png') no-repeat;
    min-height: 400px;
    margin-bottom: 40px;
    position: relative;
}

.animated-header-container-night {
    width: 100%;
    height: auto;
    background: #221e20 url('/assets/images/sky_night_small.png') no-repeat;
    min-height: 400px;
    margin-bottom: 40px;
    position: relative;
}

.img-city-small {
    width: 100%;
    margin-top: 40px;
    margin-bottom: -30px;
}

@keyframes car-enter {
    0% {
        transform: translateX(100%) ease-in-out;
    }
    100% {
        transform: translateX(-40%);
    }
}

.car {
    width: 210px;
    position: absolute;
    bottom: 30px;
    right: 0px;
    -webkit-animation: car-enter 2s forwards;
    -moz-animation: car-enter 2s forwards;
    -o-animation: car-enter 2s forwards;
    -ms-transition: car-enter 2s forwards;
    animation: car-enter 2s forwards;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.animated-header .main-btn {
    position: absolute;
    width: 60%;
    top: 50px;
    left: 20%;
    -webkit-animation: scale 1000ms infinite;
    -moz-animation: scale 1000ms infinite;
    -o-animation: scale 1000ms infinite;
    -ms-transition: scale 1000ms infinite;
    animation: scale 1000ms infinite;
}
